#macro( smallType $type)
#if($type == "Byte")int#elseif( $type == "Boolean" )int#elseif( $type == "Short" )int#elseif( $type == "Integer" )int#elseif( $type == "Long" )Long#elseif( $type == "Float" )Number#elseif( $type == "Double" )Number#else$type#end
#end
#macro( bigType $type)
#if( $type == "Integer" )Int#elseif( $type == "Boolean" )Byte#elseif( $type == "String" )UTF#else$type#end
#end
#macro( upperFirstChar $type)$type.substring(0,1).toUpperCase()$type.substring(1)#end
package com.pwrd.pwgame.service.data
{
	import com.bind.ProxyObject;
	import com.pwrd.common.baseClass.Long;
	public class $model.type extends ProxyObject
	{
#foreach( $field in $model.subFields )
		/** $field.comment */
#if($field.list)
		public var ${field.smallName}:Array;
#else
		public var ${field.smallName}:#smallType($field.type);
#end
#end
	}
}