DirtyWordsTemplate.txt core com.pwrd.war.common.model.template.DirtyWordsTemplateVO //脏话中间层
TimeEventTemplate.txt core com.pwrd.war.common.model.template.TimeEventTemplateVO //定时事件
BehaviorTemplate.txt gs com.pwrd.war.gameserver.behavior.template.BehaviorTemplateVO //行为配置模板
TimeWaveChange.txt gs com.pwrd.war.gameserver.timeevent.template.TimeWaveChangeTemplateVO //时间波动

ChargePrizeTemplate.txt gs com.pwrd.war.gameserver.charge.template.ChargePrizeTemplateVO //充值奖励配置
ItemTemplate.txt gs com.pwrd.war.gameserver.item.template.ItemTemplateVO //道具模板中间层

MailContentTemplate.txt gs com.pwrd.war.gameserver.mail.template.MailContentTemplateVO //系统邮件内容配置

SeasonTemplate.txt gs com.pwrd.war.gameserver.season.template.SeasonTemplateVO //季节系统
SeasonDescTemplate.txt gs com.pwrd.war.gameserver.season.template.SeasonDescTemplateVO //季节说明

QuestTemplate.txt gs com.pwrd.war.gameserver.quest.template.QuestTemplateVO //任务模版
DailyStarChangeTemplate.txt gs com.pwrd.war.gameserver.quest.template.DailyQuestStarTemplateVO //日常任务星数变化模版

XiulianSymbolTemplate.txt gs com.pwrd.war.gameserver.human.template.XiulianSymbolTemplateVO  //修炼标志配置模版
XiulianLevelTemplate.txt gs com.pwrd.war.gameserver.human.template.XiulianLevelTemplateVO  //修炼等级配置模版
XiulianLevelExpTemplate.txt gs com.pwrd.war.gameserver.human.template.XiulianLevelExpTemplateVO  //修炼等级经验配置模版
XiulianTemplate.txt gs com.pwrd.war.gameserver.human.template.XiulianTemplateVO  //修炼模版
ResearchTypeTemplate.txt gs com.pwrd.war.gameserver.human.template.ResearchTypeTemplateVO  //研究类型模版
ResearchTemplate.txt gs com.pwrd.war.gameserver.human.template.ResearchTemplateVO  //属性研究模版
coolDownCostTemplate.txt gs com.pwrd.war.gameserver.human.template.CoolDownCostTemplateVO	//冷却队列消耗配置
levelUpExp.txt gs com.pwrd.war.gameserver.human.template.LevelUpExpVO //角色升级经验
HumanInitPropTemplate.txt gs com.pwrd.war.gameserver.human.template.HumanInitPropTemplateVO //用户初始化属性信息 
MonsterTemplate.txt gs com.pwrd.war.gameserver.monster.template.MonsterTemplateVO //怪物模版信息 
VisibleMonsterTemplate.txt gs com.pwrd.war.gameserver.monster.template.VisibleMonsterTemplateVO //明雷模版信息 
MonsterChatTemplate.txt gs com.pwrd.war.gameserver.monster.template.MonsterChatTemplateVO //明雷模版信息 

RolePropertyFactorTemplate.txt gs com.pwrd.war.gameserver.role.template.RolePropertyFactorTemplateVO //人物属性系数信息
RoleGrowTypeFactorTemplate.txt gs com.pwrd.war.gameserver.role.template.RoleGrowTypeFactorTemplateVO //武将类别成长表
PetTemplate.txt gs com.pwrd.war.gameserver.pet.template.PetTemplateVO //原生武将模板

SkillTemplate.txt gs com.pwrd.war.gameserver.skill.template.SkillTemplateVO //主动技能模板
SkillPasvTemplate.txt gs com.pwrd.war.gameserver.skill.template.SkillPasvTemplateVO //被动技能模板
SkillSpecTemplate.txt gs com.pwrd.war.gameserver.skill.template.SkillSpecTemplateVO //职业特性技能模板
SkillBuffTemplate.txt gs com.pwrd.war.gameserver.skill.template.SkillBuffTemplateVO //技能buff模板

StatusTemplate.txt gs com.pwrd.war.gameserver.buff.template.StatusTemplateVO //状态模板
GeniusTemplate.txt gs com.pwrd.war.gameserver.skill.template.GeniusTemplateVO //天赋模板
MallTemplate.txt gs com.pwrd.war.gameserver.mall.template.MallTemplateVO //商店模板
MallToNpcTemplate.txt gs com.pwrd.war.gameserver.mall.template.MallToNpcTemplateVO //商店与NPC对应关系模板
RepTemplate.txt gs com.pwrd.war.gameserver.rep.template.RepTemplateVO //副本基础模板
FormTemplate.txt gs com.pwrd.war.gameserver.form.template.FormTemplateVO //阵型模板
FormSnTemplate.txt gs com.pwrd.war.gameserver.form.template.FormSnTemplateVO //阵型模板
MonsterAITemplate.txt gs com.pwrd.war.gameserver.monster.template.MonsterAITemplateVO //怪物AI模板

HirePetTemplate.txt gs com.pwrd.war.gameserver.pet.template.HirePetTemplateVO	//武将招募模版
growUpLevel.txt gs com.pwrd.war.gameserver.role.template.GrowUpLevelTemplateVO  //成长上升模版


equipEnhanceLevel.txt gs com.pwrd.war.gameserver.item.template.EquipEnhanceLevelVO				//强化等级属性模版
equipEnhanceLevelRate.txt gs com.pwrd.war.gameserver.item.template.EquipEnhanceLevelRateVO		//装备等级系数
equipEnhancePosRate.txt gs com.pwrd.war.gameserver.item.template.EquipEnhancePosRateVO			//强化装备部位参数
equipEnhanceSuccesRate.txt gs com.pwrd.war.gameserver.item.template.EquipEnhanceSuccesRateVO  	//装备强化成功率模版
equipEnhancePosPrice.txt gs com.pwrd.war.gameserver.item.template.EquipEnhancePosPriceVO  	//装备强化成功率模版
BufferTemplate.txt gs com.pwrd.war.gameserver.buff.template.BufferTemplateVO  	//buffer模板
BagExpandTemplate.txt gs com.pwrd.war.gameserver.item.template.BagExpandTemplateTemplateVO		//背包扩充模版

VipToVitTemplate.txt gs com.pwrd.war.gameserver.vitality.template.VipToVitTemplateVO 			//vip等级对应的购买体力次数

TransferVocation.txt gs com.pwrd.war.gameserver.transferVocation.template.TransferVocationTemplateVO //转职模板
TransferVocationStarCost.txt gs com.pwrd.war.gameserver.transferVocation.template.TransferVocationStarTemplateVO //转职消耗模板


DropBagItemsTemplate.txt gs com.pwrd.war.gameserver.monster.template.DropBagItemsTemplateVO		//掉落包模版
MonsterDropItemsTemplate.txt gs com.pwrd.war.gameserver.monster.template.MonsterDropItemsTemplateVO	//怪物掉落模版

BattleSpeekTemplate.txt gs com.pwrd.war.gameserver.campaign.template.BattleSpeekTemplateVO //战斗武将说话
RoleToSkill.txt gs com.pwrd.war.gameserver.role.template.RoleToSkillTemplateVO //角色和技能的对应关系

StoryTemplate.txt gs com.pwrd.war.gameserver.story.template.StoryTemplateVO	//剧情触发模板

SecretShopTemplate.txt gs com.pwrd.war.gameserver.secretShop.template.SecretShopTemplateVO	//神秘商店模板
VipTemplate.txt gs com.pwrd.war.gameserver.vip.template.VipTemplateVO	//vip充值模板
VipFunctionTemplate.txt gs com.pwrd.war.gameserver.vip.template.VipFunctionTemplateVO	//VIP功能描述模板=======
SecretShopTemplate.txt gs com.pwrd.war.gameserver.secretShop.template.SecretShopTemplateVO	//神秘商店模板

RobberyWeightTemplate.txt gs com.pwrd.war.gameserver.robbery.template.RobberyWeightTemplateVO	//夺宝刷新次数和概率对应关系
RobberyPrizeTemplate.txt gs com.pwrd.war.gameserver.robbery.template.RobberyPrizeTemplateVO		//夺宝等级和奖励对应关系 
RobberyRobTemplate.txt gs com.pwrd.war.gameserver.robbery.template.RobberyRobTemplateVO		//夺宝等级差衰减关系

DayTaskTemplate.txt gs com.pwrd.war.gameserver.dayTask.template.DayTaskTemplateVO		//每日任务的任务库模板
TaskProbabilityTemplate.txt gs com.pwrd.war.gameserver.dayTask.template.TaskProbabilityTemplateVO		//每日任务的任务概率模板=======

ActivityTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityTemplateVO		//活动模板
ActivityBossAttackBuffTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityBossAttackBuffTemplateVO		//boss战伤害和buff对应关系
ActivityBossGuwuBuffTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityBossGuwuBuffTemplateVO		//buss战鼓舞和buff关系
ActivityBossGroupNameTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityBossGroupNameTemplateVO		//buss每组怪物名称
ActivityBossTowerTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityBossTowerTemplateVO		//boss塔的奖励
ActivityWarBonusTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityWarBonusTemplateVO		//守军争夺战连胜奖励
ActivityWarSkillTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityWarSkillTemplateVO		//守军争夺战技能信息
ActivityWorldWarBonusTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityWorldWarBonusTemplateVO		//阵营战奖励信息

ArenaOrderPrizeTemplate.txt gs com.pwrd.war.gameserver.arena.template.ArenaOrderPrizeTemplateVO			//竞技场排名奖励
ArenaAchievementTemplate.txt gs com.pwrd.war.gameserver.arena.template.ArenaAchievementTemplateVO		//竞技场成就模板
ArenaBattlePrizeTemplate.txt gs com.pwrd.war.gameserver.arena.template.ArenaBattlePrizeTemplateVO		//竞技场战斗奖励模板
ArenaAddCostTemplate.txt gs com.pwrd.war.gameserver.arena.template.ArenaAddCostTemplateVO		//竞技场战斗奖励模板

TowerTemplate.txt gs com.pwrd.war.gameserver.tower.template.TowerTemplateVO		//将星云路
TowerRefreshTemplate.txt gs com.pwrd.war.gameserver.tower.template.TowerRefreshTemplateVO	//将星云路刷新模板

VipTowerTemplate.txt gs com.pwrd.war.gameserver.vip.template.VipTowerTemplateVO	//vip将星刷新
TowerRefreshChargeTemplate.txt gs com.pwrd.war.gameserver.tower.template.TowerRefreshChargeTemplateVO	//刷新费用表

XinghunParaTemplate.txt gs com.pwrd.war.gameserver.item.template.XinghunParaTemplateVO	//星魂模板
XinghunXilianTemplate.txt gs com.pwrd.war.gameserver.item.template.XinghunXilianTemplateVO	//星魂模板
XinghunParaProTemplate.txt gs com.pwrd.war.gameserver.item.template.XinghunParaProTemplateVO	//星魂模板

GiftBagTemplate.txt gs com.pwrd.war.gameserver.giftBag.template.GiftBagTemplateVO //礼包模版类

NpcToHirePetPubTemplate.txt gs com.pwrd.war.gameserver.pet.template.NpcToHirePetPubTemplateVO //酒馆与npc对应模板
JingjiuTemplate.txt gs com.pwrd.war.gameserver.pet.template.JingjiuTemplateVO //敬酒模板
JingjiuPriceTemplate.txt gs com.pwrd.war.gameserver.pet.template.JingjiuPriceTemplateVO //敬酒价格模板

WarcraftStage1Template.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftStage1TemplateVO //兵法产出权重1模版类
WarcraftStage2Template.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftStage2TemplateVO //兵法产出权重2模版类
WarcraftTemplate.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftTemplateVO //兵法模版类
WarcraftPositionLevelTemplate.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftPositionLevelTemplateVO //兵法装备位模版类
WarcraftExpTemplate.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftExpTemplateVO //兵法装备位模版类
WarcraftPrizeTemplate.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftPrizeTemplateVO //兵法领悟奖励模版类
WarcraftLevelBattleTemplate.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftLevelBattleTemplateVO //兵法等级属性模版类
WarcraftRatioTemplate.txt gs com.pwrd.war.gameserver.warcraft.template.WarcraftRatioTemplateVO //兵法掉落权重模版类

JingjieTemplate.txt gs com.pwrd.war.gameserver.role.template.JingJieTemplateVO //人物境界模版类

TreeTemplate.txt gs com.pwrd.war.gameserver.tree.template.TreeTemplateVO //摇钱树模版类
TreeCostTemplate.txt gs com.pwrd.war.gameserver.tree.template.TreeCostTemplateVO //摇钱树模版类
TreeExpTemplate.txt gs com.pwrd.war.gameserver.tree.template.TreeExpTemplateVO //摇钱树模版类
TreeFruitTemplate.txt gs com.pwrd.war.gameserver.tree.template.TreeFruitTemplateVO //摇钱树模版类
TreeWaterTemplate.txt gs com.pwrd.war.gameserver.tree.template.TreeWaterTemplateVO //摇钱树模版类


ActivityGGZJpfczTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityGGZJpfczTemplateVO						//破釜沉舟模板
ActivityGGZJPositionTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityGGZJPositionTemplateVO				//复活位置模板
ActivityGGZJRankPrizeTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityGGZJRankPrizeTemplateVO				//排行
ActivityGGZJTowerRankPrizeTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityGGZJTowerRankPrizeTemplateVO	//夺旗排行
ActivityGgzjGuwuBuffTemplate.txt gs com.pwrd.war.gameserver.activity.template.ActivityGgzjGuwuBuffTemplateVO	//鼓舞

OpenFunctionTemplate.txt gs com.pwrd.war.gameserver.human.template.OpenFunctionTemplateVO	//开放功能模板
NewPlayerPrizeTemplate.txt gs com.pwrd.war.gameserver.human.template.NewPlayerPrizeTemplateVO	//在线礼包模板
DayLoginPrizeTemplate.txt gs com.pwrd.war.gameserver.human.template.DayLoginPrizeTemplateVO	//登陆礼包模板

MapTemplate.txt gs com.pwrd.war.gameserver.map.template.MapTemplateVO	//地图对应的战斗背景模板
MapBattleBgTemplate.txt gs com.pwrd.war.gameserver.map.template.MapBattleBgTemplateVO	//功能对应的战斗背景模板

GrowLevelTemplate.txt gs com.pwrd.war.gameserver.role.template.GrowLevelTemplateVO  //等级对应属性定值