<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN"
          "http://www.ibatis.com/dtd/sql-map-2.dtd" >
<sqlMap>
    <typeAlias alias="$logName" type="$msgName" />
    <insert id="insert_$logName" parameterClass="$logName">
insert into $tableName$(#foreach($field in $allFields)$field.columnName,#end createTime) values(#foreach($field in $allFields)#${field.name}#,#end #createTime#)</insert>
    <statement id="createTable_$logName" parameterClass="java.lang.String">
create table if not exists $tableName$
(
id int(11) not null AUTO_INCREMENT primary key,
#foreach($field in $allFields)
#if($field.type == "String")
	${field.columnName} $field.getReadType()(${field.constraint}),
#else
	$field.columnName $field.getReadType() ${field.constraint},
#end
#end
createTime bigint not null
#foreach($field in $allFields)
#if(${field.isKey})
	,key ${field.columnName} (${field.columnName})
#end
#end
)ENGINE = MyISAM DEFAULT CHARSET UTF8
    </statement>
</sqlMap>